.out-img {
    width: 100%;
    // overflow: hidden;
    max-height: 70vh;
    position: relative;
    max-width: 1950px;
margin: auto;
    .cover{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
    }
    img {
        width: 100%;
    max-height: 70vh;

        object-fit: fill;
        object-position: center;
    }
}









.row{
    max-width: 1300px;
    margin: auto;
}

















.contact-box {
  border: 1px solid rgba(59, 154, 231, 0.2);
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.border-blue {
  border: 1px solid rgba(59, 154, 231, 0.2);
  background-color: white;
}

.contact-box:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

input,
textarea {
  background-color: #f9f9f9;
}

.contact-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}



@media (max-width: 768px) {

  .contact-form-container {
    width: 95% !important;
  }

}

.contact-form-container {
  width: 45%;
}

