<footer class="alamana-footer">
    <div class="container-fluid px-md-5">

        <!-- الأعمدة -->
        <div class="row text-white footer-columns">

            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5 class="footer-title">تواصل معنا</h5>
                <ul class="footer-list">
                    <li><i class="fa-solid fa-location-dot ms-2"></i>الكويت</li>
                    <li><i class="fa-solid fa-phone ms-2"></i>0123456789</li>
                    <li><i class="fa-solid fa-envelope ms-2"></i>info@alamanaa.com</li>
                </ul>
            </div>

            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5 class="footer-title">ما نقوم به</h5>
                <ul class="footer-list">
                    <li>توريد مواد البناء</li>
                    <li>حلول العزل واللواصق</li>
                    <li>مشروعات إنشائية متكاملة</li>
                </ul>
            </div>

            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5 class="footer-title">من نحن</h5>
                <ul class="footer-list">
                    <li>الأمانة لمواد البناء</li>
                    <li>خبرة تمتد لسنوات</li>
                    <li>جودة مضمونة وخدمة مميزة</li>
                </ul>
            </div>

            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5 class="footer-title">أين توجد</h5>
                <ul class="footer-list">
                    <li>فرع القاهرة</li>
                    <li>فرع الجيزة</li>
                    <li>فروع أخرى قريباً</li>
                </ul>
            </div>

        </div>

        <!-- الخط الفاصل البسيط -->
        <div class="footer-divider"></div>

        <!-- رابط الموقع -->
        <!-- <div class="d-flex align-items-center justify-content-center"> -->

        <div class="d-md-flex align-items-center position-relative footer-bottom d-none">

            <!-- سوشيال ميديا -->
            <div class="social-footer d-flex">
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-facebook-f"></i></div>
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-instagram"></i></div>
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-x-twitter"></i></div>
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-youtube"></i></div>
            </div>

            <!-- اللينك في النص -->
            <div class="text-center text-white footer-website fs-5 mx-auto">
                https://www.alamanamarket.com
            </div>

        </div>






        <div class=" position-relative footer-bottom d-md-none d-block">

            <!-- سوشيال ميديا -->
            <div class="social-footer d-flex my-3">
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-facebook-f"></i></div>
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-instagram"></i></div>
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-x-twitter"></i></div>
                <div class="brush-icon"><img src="../../../assets/footer/Vector.png"><i
                        class="fa-brands fa-youtube"></i></div>
            </div>

            
            <!-- اللينك في النص -->
            <div class="text-center text-white footer-website fs-5 mx-auto">
                /www.alamanamarket.com
            </div>

        </div>

    </div>
    <!-- </div> -->
</footer>



<!-- <img src="../../../assets/footer/Vector.png" alt=""> -->