<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid nav-max-width">

    <img routerLink="" src="../../../assets/e6da5ba3bbf0d2618e5ae6f63d348b8752b2cdef.png" class="w-10 mx-2" alt="">

    <div class="d-flex align-items-center ">
      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <i class="fa-solid fa-cart-shopping mx-2 pointer d-md-none d-flex" routerLink="cart"></i>

      <a class="nav-link mx-2 fs-4 d-md-none d-flex" routerLink="search"><i
          class="fa-solid fa-magnifying-glass"></i></a>

    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- الروابط -->

      

      <!-- تسجيل الدخول والسلة -->
      <div class=" d-md-flex d-none align-items-center">
        <i class="fa-solid fa-cart-shopping ms-3 pointer" routerLink="cart"></i>
        <div class="mx-4 pointer">
          <p class="auth m-0 main-bg-color" routerLink="auth/login">تسجيل الدخول</p>
        </div>
      </div>


      <ul class="navbar-nav m-auto mb-2 mb-lg-0">

        <div class="d-md-none d-flex align-items-center justify-content-center">
          <div class="mx-4 pointer my-3">
            <p class="auth m-0 main-bg-color" routerLink="auth/login">تسجيل الدخول</p>
          </div>
        </div>


        <li class="nav-item">
          <a class="nav-link" routerLink="previousorder">الاوردرات السابقه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">تواصل معنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="almana-is">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="offers">عروض</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">منتجاتنا</a>
        </li>
        <li class="nav-item d-md-flex d-none">
          <a class="nav-link" routerLink="search"><i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
      </ul>

    </div>


  </div>
</nav>