

.hero-wrapper {
  position: relative;
}

.img-cover {
    width: 100%;
    height: 70vh;
    max-height: 1200px;
    overflow: hidden;
}

.slide {
    max-width: 1950px;
    margin: auto;
}

.content {
    width: 50%;

}

h1 {
    font-size: 64px;
}

.bg-secondary {
    background-color: #D9D9D9 !important;
}

span {
    position: relative;
    z-index: 2;
}

.bcak-color::before {
    content: '';
    position: absolute;
    background-color: #1E75B7;
    opacity: 0.8;
    width: 100%;
    height: 0.8em;
    /* ارتفاع الشريط */
    bottom: 0;
    /* خليه تحت النص */
    left: 0;
    z-index: -1;
    /* خليه خلف النص */
}



.image {
    width: 300px;
    height: 450px;
    // background-color: #BFCD34;

    img {
        width: 300px;
        // height: 450px;
    }
}


.inner-img {
    position: absolute;
    width: 250px;
    height: 350px;
    bottom: -15%;
    right: -15%;


    img {
        width: 250px;
        height: 350px;
    }
}



// img {
//     width: 100%;
//     height: 100%;
// }



.triangle-shape {
    position: relative;
    display: inline-block;
    padding: 30px;
    z-index: 2;
    // background-color: #BFCD34;
}


.triangle-shape:before {
    content: '';
    position: absolute;
    top: -20%;
    left: 85%;
    transform: translateX(-50%);
    width: 250px;
    height: 400px;
    border: 20px solid #1E75B7;
    z-index: -1;
    opacity: 0.4;
}





.st {
    background: linear-gradient(90deg, #bedbf1, #1E75B7);
    width: 1000px;
    height: 40px;
}

.nd {
    background-color: #19ADDE;
    width: 1000px;
    height: 10px;
}


.top-right {
    transform: rotateZ(45deg);
    position: absolute;
    top: 0;
    right: -400px;
}



.top-left {
    transform: rotateZ(135deg);
    position: absolute;
    top: 0;
    left: -400px;
}


.bottom-left {
    transform: rotateZ(45deg);
    position: absolute;
    bottom: -450px;
    left: -400px;

    .st2 {
        background-color: #BFCD34;
        width: 500px;
        height: 600px;
    }

    .nd2 {
        background: linear-gradient(90deg, #bedbf1, #1E75B7);
        width: 350px;
        height: 30px;
    }
}





.animate-on-slide {
    opacity: 0;
    transition: all 0.9s ease-out;
    will-change: transform, opacity;
}

.from-left {
    transform: translateX(-100px);
}

.from-right {
    transform: translateX(100px);
}

/* خلي السلايد الأكتيف في Owl هو اللي يبان */
.owl-item.active .animate-on-slide {
    opacity: 1;
    transform: translateX(0);
}



// span[_ngcontent-ng-c104654624]::before {
//     content: "";
//     position: absolute;
//     background-color: transparent;
//     opacity: 0.8;
//     width: 100%;
//     height: 0.8em;
//     bottom: 0;
//     left: 0;
//     z-index: -1;
// }








@media (max-width:1200px) {
    // .image {
    //     width: 300px;
    //     height: 400px;
    //     // background-color: #BFCD34;

    //     overflow: hidden;

    //     img {
    //         width: 220px;
    //         height: 350px;
    //     }
    // }


    .inner-img {
        position: absolute;
        width: 240px;
        height: 350px;
        bottom: -15%;
        right: 0;

        img {
            width: 240px;
            height: 350px;
        }
    }

    h1 {
        font-size: 30px;
    }



    .triangle-shape:before {
        content: '';
        position: absolute;
        top: -30%;
        left: 70%;
        transform: translateX(-50%);
        width: 200px;
        height: 300px;
        border: 20px solid #1E75B7;
        z-index: -1;
        opacity: 0.4;
    }





}




@media (max-width:768px) {
    h1 {
        font-size: 28px;
    }

    // .image {
    //     width: 200px;
    //     height: 280px;
    // }

    .content {
        width: 60%;
        padding: 0 !important;
        // background-color: #bedbf1;
    }

    .img-cover {
        width: 100%;
        height: 40vh;
        overflow: hidden;
    }

    //     .triangle-shape {
    //     position: relative;
    //     display: inline-block;
    //     padding: 30px;
    //     z-index: 2;
    //     // background-color: #BFCD34;
    // }

    .triangle-shape:before {
        // content: '';
        // position: absolute;
        // top: -10%;
        // left: 60%;
        // transform: translateX(-50%);
        // width: 140px;
        // height: 220px;
        border: none;
        // z-index: -1;
        // opacity: 0.4;
    }


    .image {
        width: 250px;
        height: 250px;
        // background-color: #BFCD34;

        overflow: hidden;

        img {
            width: 150px;
            height: 250px;
        }
    }


    .inner-img {
        position: absolute;
        width: 120px;
        height: 200px;
        bottom: 0%;
        right: 10%;


        img {
            width: 120px;
            height: 200px;
        }
    }


}




.carousel-control-prev,
.carousel-control-next {
    z-index: 10 !important;
    /* يخليهم فوق أي عناصر تانية */
}



/* خليه ظاهر لو السلايد Active عند أول تحميل */
.carousel-item.active .animate-on-slide {
    opacity: 1;
    transform: translateX(0);
}







.out-slide-btn {
    width: 50px;
    height: 50px;
    // background-color: #1E75B7;
    // padding: 20px;
    // font-size: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}








