<div id="heroCarousel" class="carousel slide " data-bs-ride="carousel">
    
  <div class="carousel-inner bg-danger">

    <div class="carousel-item active" appAnimateOnActive="active" [animStagger]="0.2">
      <div class="img-cover bg-secondary d-flex align-items-center position-relative">
        <div class="d-flex justify-content-around align-items-center container">

          <div class="image animate-on-slide from-left ">
            <img src="../../../../assets/WhatsApp_Image_2025-06-22_at_4.51.41_AM__1_-removebg-preview.png" alt="">
          </div>

          <div
            class="text-black fw-bold content ms-auto text-center position-relative triangle-shape animate-on-slide from-right">
            <h1>لاصق البلاط الأقوى في <span class="bcak-color">العالم</span></h1>
            <h1>ضمان 10 سنوات</h1>
          </div>

        </div>
      </div>
    </div>

    <div class="carousel-item" appAnimateOnActive="active" [animStagger]="0.2">
      <!-- slide 2 contents -->
      <div class="img-cover bg-secondary d-flex align-items-center position-relative">
        <div class="d-flex justify-content-around align-items-center container">
          <div class="image animate-on-slide from-left"><img
              src="../../../../assets/WhatsApp_Image_2025-06-22_at_4.51.41_AM__1_-removebg-preview.png" alt=""></div>
          <div
            class="text-black fw-bold content ms-auto text-center position-relative triangle-shape animate-on-slide from-right">
            <h1>عنوان 2</h1>
            <h1>سطر إضافي</h1>
          </div>
        </div>
      </div>
    </div>



    <div class="top-right  d-md-block d-none">
      <div class="nd"></div>
      <div class="st mt-4"></div>
    </div>



    <div class="top-left d-md-block d-none">
      <div class="st mb-4"></div>
      <div class="nd"></div>
    </div>



    <div class="bottom-left d-md-block d-none">
      <div class="nd2 mb-3 ms-auto"></div>
      <div class="st2 mb-3"></div>
    </div>


  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <div class="out-slide-btn main-bg-color">
      <span class="carousel-control-prev-icon"></span>
    </div>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <div class="out-slide-btn main-bg-color">
      <span class="carousel-control-next-icon "></span>
    </div>
  </button>

</div>