<!-- <h2>فئات</h2> -->

<div class="categoriesSwiperCustom my-5 position-relative  px-md-5">


  <div class="text-center second-color m-5">
    <h1>فئات</h1>
    <h5>اختار اللي يناسبك... كل فئة ليها حكاية!</h5>
  </div>

    

  <owl-carousel-o *ngIf="categories?.length" #catCarousel [options]="catOptions" (drag)="dragging = true"
    (dragged)="dragging = false">

    <ng-template carouselSlide *ngFor="let cat of categories; trackBy: trackById">
      <div class="category-card text-center d-flex  justify-content-center align-items-center  flex-column p-0 mb-0"
        (pointerdown)="onPtrDown($event)" (pointermove)="onPtrMove($event)" (pointerup)="onPtrUp()"
        (pointercancel)="onPtrCancel()" (pointerleave)="onPtrCancel()" (click)="onCardClick(cat.id, $event)">
        <img [src]="cat.imagePath" [alt]="cat.name" class="" />
      </div>
      <p class="cat-name second-color text-center">
        <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
        {{cat.name}}
      </p>
    </ng-template>
  </owl-carousel-o>



  <!-- arrows خارجية -->
  <!-- <button class="slider-arrow left" (click)="catCarousel.prev()">
    <i class="bi bi-chevron-left"></i>
  </button>
  <button class="slider-arrow right" (click)="catCarousel.next()">
    <i class="bi bi-chevron-right"></i>
  </button> -->
</div>