<!-- <h2>فئات</h2> -->

<div class="categoriesSwiperCustom my-5 position-relative  px-md-5 ">
  <h1 class="text-end second-color m-5">اشتري و بالك مرتاح</h1>
  <!-- <p class="px-1 mb-5 text-center m-auto fs-5 text-secondary">
    {{ 'home.categoriesSlogan' | translate }}
  </p> -->




  <owl-carousel-o #catCarousel [options]="catOptions" (drag)="dragging = true" (dragged)="dragging = false" >

    <ng-template carouselSlide>
      <div class="category-card text-center d-flex  justify-content-center align-items-center  flex-column p-0 mb-0"
        >
        <img src="../../../../assets/categories/163a155bf17de65badc9fee60d656b8133014228.jpg" alt="cat.name" class="" />


        <div class="py-2 px-3 card-body main-bg-color w-100">
          <h5 class="cat-name second-color text-center">
            <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
            الأعلى مبيعًا
          </h5>

          <p>منتجات أثبتت كفاءتها في كل مشروع</p>
        </div>
      </div>

    </ng-template>

 
    <ng-template carouselSlide>
      <div class="category-card text-center d-flex  justify-content-center align-items-center  flex-column p-0 mb-0"
        >

        <img src="../../../../assets/categories/163a155bf17de65badc9fee60d656b8133014228.jpg" alt="cat.name" class="" />

        <div class="py-2 px-3 card-body main-bg-color w-100">
          <h5 class="cat-name second-color text-center">
            <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
            اشتر المحلي
          </h5>

          <p>منتجات تركية بمعايير جودة عالمية</p>
        </div>
      </div>

    </ng-template>


    <ng-template carouselSlide>
      <div class="category-card text-center d-flex  justify-content-center align-items-center  flex-column p-0 mb-0"
        >
        <img src="../../../../assets/categories/163a155bf17de65badc9fee60d656b8133014228.jpg" alt="cat.name" class="" />


        <div class="py-2 px-3 card-body main-bg-color w-100">
          <h5 class="cat-name second-color text-center">
            <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
            وصل جديد
          </h5>

          <p>أحدث التركيبات والتقنيات في عالم البناء</p>
        </div>
      </div>

    </ng-template>

  </owl-carousel-o>



  <!-- arrows خارجية -->
  <!-- <button class="slider-arrow left" (click)="catCarousel.prev()">
    <i class="bi bi-chevron-left"></i>
  </button>
  <button class="slider-arrow right" (click)="catCarousel.next()">
    <i class="bi bi-chevron-right"></i>
  </button> -->




</div>