<!-- <h2>فئات</h2> -->

<div class="categoriesSwiperCustom my-5 position-relative px-md-5">


    <div class="text-center second-color m-5">
        <h1>وصل جديد</h1>
        <h5>أحدث التركيبات والتقنيات في عالم البناء</h5>
    </div>




    <owl-carousel-o *ngIf="products?.length" #catCarousel [options]="catOptions" (drag)="dragging = true"
        (dragged)="dragging = false">

        <ng-template carouselSlide *ngFor="let prod of products; trackBy: trackById">
            <div class="product-hex text-center" (pointerdown)="onPtrDown($event)" (pointermove)="onPtrMove($event)"
                (pointerup)="onPtrUp()" (pointercancel)="onPtrCancel()" (pointerleave)="onPtrCancel()"
                (click)="onCardClick(prod.id, $event)">

                <div class="hex-img ">
                    <img *ngIf="prod?.galleryUrls?.length" [src]="prod.galleryUrls[0].url" [alt]="prod.name" />
                    <!-- بادج جديد -->
                    <!-- <span class="badge-new" *ngIf="prod.new">جديد</span> -->
                    <!-- اسم المنتج -->
                </div>
                <span class="pill-name">{{ prod.name }}</span>
            </div>


        </ng-template>
    </owl-carousel-o>



    <!-- arrows خارجية -->
    <!-- <button class="slider-arrow left" (click)="catCarousel.prev()">
    <i class="bi bi-chevron-left"></i>
  </button>
  <button class="slider-arrow right" (click)="catCarousel.next()">
    <i class="bi bi-chevron-right"></i>
  </button> -->
</div>