<div class="categoriesSwiperCustom mb-5 justify-content-center  px-md-5 ">

    <h1 class="text-center second-color mb-5">مقترحه لك</h1>

    <button class="nav-btn prev-btn d-md-flex d-none" (click)="catCarousel.prev()"><i
            class="fa-solid fa-arrow-left"></i></button>
    <button class="nav-btn next-btn d-md-flex d-none" (click)="catCarousel.next()"><i
            class="fa-solid fa-arrow-right"></i></button>

    <owl-carousel-o *ngIf="products?.length" #catCarousel [options]="catOptions" (drag)="dragging = true"
        (dragged)="dragging = false">

        <ng-template carouselSlide *ngFor="let prod of products; trackBy: trackById">
            <div class="category-card text-center p-0 " [routerLink]="['/product-details', prod.id]">

                <div class="w-100 px-2">

                    <div class="moved-content">
                        <div class="position-relative">
                            <img *ngIf="prod?.galleryUrls?.length > 0" [src]="prod?.galleryUrls[0]?.url"
                                [alt]="prod.name" class="" />
                            <img *ngIf="!prod?.galleryUrls?.length" src="../../../../assets/2 (6).png"
                                [alt]="prod.name" />
                            <div class="out-btn pointer " (click)="addToCart(prod, $event)">
                                <i class="fa-solid fa-plus"></i>
                            </div>

                        </div>
                    </div>

                    <div class="w-100 fixed-content m-0 px-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="cat-name second-color text-center">
                                <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                                {{prod.name}}
                            </p>

                            <p>{{prod.weight}} كجم</p>
                        </div>


                        <div class="d-flex justify-content-between align-items-center">
                            <p class="cat-name second-color text-center">
                                <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                                {{prod.price}} د.ك
                            </p>

                            <p> {{prod.priceAfterDiscount}} د.ك
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </ng-template>

    </owl-carousel-o>

</div>