<div class="parent">

    <input type="text" class="form-control m-auto w-md-50 w-75 mt-4 text-end" [(ngModel)]="searchTerm"
        (input)="filterProducts()" placeholder=". . . ابحث عن المنتجات">

    <div class="py-5 products">

        <div class="row container justify-content-start align-items-center  m-auto">
            <div class="col-md-3  d-flex justify-content-center  mb-4 " *ngFor="let product of products">

                <div class="category-card m-2 shadow text-center p-0 " routerLink="/product-details">


                    <div class="moved-content">
                        <div class="">
                            <owl-carousel-o #catCarousel [options]="catOptions">
                                <ng-template carouselSlide *ngFor="let img of product.galleryUrls; trackBy: trackById">
                                    <div class="position-relative">
                                        <img [src]="img" class="w-100" />
                                        <div class="out-btn main-bg-color" (click)="addToCart(product, $event)">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>


                        </div>
                    </div>


                    <div class="w-100 fixed-content m-0 ">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="text-black">{{product.weight}} {{product.weightData}}</p>
                            <p class="main-color fs-4 second-color text-center">
                                <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                                {{product.name}}
                            </p>

                        </div>


                        <div class="d-flex justify-content-between align-items-center text-black">
                            <p class="second-color text-center">
                                <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                                {{product.oldPrice}} {{product.currency}}
                            </p>

                            <p> {{product.newPrice}} {{product.currency}}
                            </p>
                        </div>


                        <div>
                            <p class="text-dark fs-small text-end">بلاتينيوم فيكس لاصق بلاط احترافي عالي الجودة،
                                مناسب للاستخدام الداخلي والخارجي، يتميز
                                بقوة التصاق ممتازة ومقاومة للرطوبة والحرارة، لضمان تثبيت مثالي وطويل الأمد.</p>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>


</div>