<div class="parent ">


    <div class="row justify-content-between align-items-center container-fluid py-4 m-auto">
        <div class="col-md-6">
            <img src="../../../assets/ChatGPT Image Aug 14, 2025, 09_44_54 AM 1.png" class="w-100" alt="">
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi vitae sit nam in, eos pariatur
                saepe sed ipsum, necessitatibus officiis odit facilis deleniti, iusto dignissimos quisquam impedit!
                Optio blanditiis fugit sunt similique consectetur cumque aut nulla, dicta a facere possimus beatae, fuga
                enim alias recusandae laboriosam deserunt, voluptas ipsam. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Qui magni culpa perspiciatis maxime laboriosam iste neque et, commodi blanditiis ab.
            </p>
        </div>
    </div>


    <div class="row justify-content-between align-items-center container-fluid py-4 m-auto">

        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eligendi vitae sit nam in, eos pariatur
                saepe sed ipsum, necessitatibus officiis odit facilis deleniti, iusto dignissimos quisquam impedit!
                Optio blanditiis fugit sunt similique consectetur cumque aut nulla, dicta a facere possimus beatae, fuga
                enim alias recusandae laboriosam deserunt, voluptas ipsam. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Qui magni culpa perspiciatis maxime laboriosam iste neque et, commodi blanditiis ab.
            </p>
        </div>


        <div class="col-md-6 px-0">
            <img src="../../../assets/ChatGPT Image Aug 14, 2025, 09_44_54 AM 1.png" class="w-100" alt="">
        </div>

    </div>


    <app-one-video></app-one-video>


</div>