/* You can add global styles to this file, and also import other style files */


.main-outline-btn {
    border: 1px solid #1E75B7;
    color: #1E75B7 !important;
    background-color: white;

    &:hover {
        color: #fff !important;
        background-color: #1E75B7;
    }
}



.pointer{
    cursor: pointer;
}



.main-btn {




    color: #fff !important;
    background-color: #1E75B7;

    &:hover {
        border: 1px solid #1E75B7;
        color: #1E75B7 !important;
        background-color: white;
    }
}





.main-btn {
    color: #fff !important;
    background-color: #1E75B7;
    font-size: 20px;
    padding: 10px 30px;
    transition: all 0.3s;

    &:hover {



        border: 1px solid #1E75B7;
        color: #1E75B7 !important;
        background-color: white;
    }
}


.main-color {
    color: #1E75B7;
}


.main-bg-color {
    background-color: #1E75B7;
}



.second-bg-color {
    background-color: #DCF08B;
}