.video {
  width: 100%;
  margin: auto;
  max-height: 50vh;
  position: relative;
  max-width: 1800px;
}

/* غطّي الحاوية كلها من غير ما يخرج الفيديو */
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.parent {
  width: 85%;
  margin: auto;
}