.video {
  width: 100%;
  margin: auto;
  max-height: 50vh;
  position: relative;
  max-width: 1800px;
}

/* غطّي الحاوية كلها من غير ما يخرج الفيديو */
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.parent {
  width: 85%;
  margin: auto;
}


.play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in;
  color: #fff;
  display: grid;
  place-items: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, .25);
  cursor: pointer;
}

.play-btn:hover {
  background: rgba(0, 0, 0, 0.9);
}