
<div class="categoriesSwiperCustom my-5 position-relative px-md-5">


    <div class="text-center second-color m-5">
        <h1>الأعلى مبيعًا</h1>
        <h5>منتجات أثبتت كفاءتها في كل مشروع</h5>
    </div>



    <owl-carousel-o *ngIf="categories?.length" #catCarousel [options]="catOptions" (drag)="dragging = true"
        (dragged)="dragging = false">

        <ng-template carouselSlide *ngFor="let cat of categories; trackBy: trackById">
            <div class="category-card shadow text-center d-flex  justify-content-center align-items-center  flex-column p-0 mb-0 pt-3"
                (pointerdown)="onPtrDown($event)" (pointermove)="onPtrMove($event)" (pointerup)="onPtrUp()"
                (pointercancel)="onPtrCancel()" (pointerleave)="onPtrCancel()" (click)="onCardClick(cat.id, $event)">
                <img [src]="cat.image" [alt]="cat.name" class="w-100" />


                    <div class="w-100 m-0 fixed-content px-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="main-color fs-4 second-color text-center">
                                <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                                {{cat.name}}
                            </p>
                            <p class="text-black">{{cat.weight}} {{cat.weightData}}</p>

                        </div>


                        <div class="d-flex justify-content-between align-items-center text-black">
                            <p class="second-color text-center">
                                <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                                {{cat.oldPrice}} {{cat.currency}}
                            </p>

                            <p> {{cat.newPrice}} {{cat.currency}}
                            </p>
                        </div>


                    </div>
            </div>

        </ng-template>
    </owl-carousel-o>


    <!-- arrows خارجية -->
    <!-- <button class="slider-arrow left" (click)="catCarousel.prev()">
    <i class="bi bi-chevron-left"></i>
  </button>
  <button class="slider-arrow right" (click)="catCarousel.next()">
    <i class="bi bi-chevron-right"></i>
  </button> -->


</div>