<div class="categoriesSwiperCustom my-5 position-relative px-md-5">


    <div class="text-center second-color m-5">
        <h1>الأعلى مبيعًا</h1>
        <h5>منتجات أثبتت كفاءتها في كل مشروع</h5>
    </div>



    <owl-carousel-o *ngIf="products?.length" #catCarousel [options]="catOptions" (drag)="dragging = true"
        (dragged)="dragging = false">

        <ng-template carouselSlide *ngFor="let product of products; trackBy: trackById">
            <div class="category-card shadow text-center d-flex  justify-content-center align-items-center  flex-column p-0 mb-0 pt-3"
                [routerLink]="['/product-details', product.id]">
                <!-- <img *ngIf="product.galleryUrls[0]?.type === 'Image'" [src]="product.galleryUrls[0]?.url"
                    [alt]="product.name" class="w-100" /> -->

                <img [src]="product.galleryUrls?.[0]?.type === 'Image' ? product.galleryUrls?.[0]?.url : 'assets/images/default.png'"
                    [alt]="product.name" class="w-100" />



                <div class="w-100 m-0 fixed-content px-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="main-color fs-4 second-color text-center">
                            <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                            {{product.name}}
                        </p>
                        <p class="text-black">{{product.weight}} كجم</p>

                    </div>


                    <div class="d-flex justify-content-between align-items-center text-black">
                        <p class="second-color text-center">
                            <!-- {{ (languageService.languageChanged$ | async) === 'ar' ? cat.name_ar : cat.name }} -->
                            {{product.price}} د.ك
                        </p>

                        <p> {{product.priceAfterDiscount}} د.ك
                        </p>
                    </div>


                </div>
            </div>

        </ng-template>
    </owl-carousel-o>


    <!-- arrows خارجية -->
    <!-- <button class="slider-arrow left" (click)="catCarousel.prev()">
    <i class="bi bi-chevron-left"></i>
  </button>
  <button class="slider-arrow right" (click)="catCarousel.next()">
    <i class="bi bi-chevron-right"></i>
  </button> -->


</div>